<textarea name="{$field}" id="{$field}" style="width: 100%;">{$value}</textarea>
<!-- 样式文件 -->
<link rel="stylesheet" href="__PUBLIC__/plugs/umeditor/themes/default/css/umeditor.css">
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/umeditor/umeditor.config.js?v=asdf"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/umeditor/umeditor.js"></script>
<!-- 实例化编辑器代码 -->
<script type="text/javascript">
    $(function(){
        window.um = UM.getEditor('{$field}', {
        	imageUrl: "{:url('upload/editor')}"
        });
    });
</script>