{extend name="public/base" /}
{block name="body"}





<script type="text/javascript" href="__PUBLIC__/plugs/bootstrap/popover.js"></script>

<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/enterpriseA.css"/>

<div class="row">
			<div class="col-lg-12">
						<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
					<li role="presentation" class="active">
						 <a href="#home" aria-controls="home" role="tab" data-toggle="tab">企业账户</a>
						 <i></i>
					</li>
					<li role="presentation">
						<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">订购充值</a>
						<i></i>
					</li>
					<li role="presentation">
						<a href="#Consumption" aria-controls="Consumption" role="tab" data-toggle="tab">消耗记录</a>
						<i></i>
					</li>
					<li role="presentation">
						<a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">消费统计</a>
					</li>
				</ul>

        
				<div class="main-box clearfix">	
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane e_setdatabg active" id="home">
					  <div class="e_setmargin clearfix">
    				  <div class="my-header fl con-padding">
    						<div class="my-title"><i class="icon iconfont icon-zhanghuzonglan"></i>账户总览 </div>
    						<div class="my-detail">			    
    							<div class="ant-avatar">
    								<img class="img-circle" id="headImg" src="__PUBLIC__/images/default_avatar.jpg" />
    							</div>
    							<div class="my-detail-info">
    								<div class="my-detail-info-item">
    									<p id="adminUser">元</p>
    									<p><i class="icon iconfont icon-zhanghao"></i>客户名称</p>
    								 </div>
    								 <div class="my-detail-info-item">
    									 <p class="version" id="adminmoney"></p>
    									 <p><i class="icon iconfont icon-yue"></i>余额</p>
    								 </div>
    								 <div class="my-detail-info-item">
    									 <p>专业版</p>
    									 <p class="version"><i class="icon iconfont icon-version"></i>版本</p>
    								 </div>
    							</div>
    						</div>
    					</div>
    					<div class="seat-wrap seatwidth fl">
    						<div class="my-title"><i class="icon iconfont icon-zuoxi"></i>坐席</div>
    						<div class="seat-num seat-numright">
    						  <div class="e_shownum">
    						    <div class="e_shownumleft">
    						      <p>1</p>
    						      <p>AI坐席</p>
    						    </div>
    						    <div class="e_shownumright">剩余可用：1个</div>
    						  </div>
    							 <button type="button" onclick="alert('待开发');" class="btn btn-size-default">
    								购买更多并发<i class="icon iconfont icon-jiantou"></i>
    							 </button>
    						</div>
    						<div class="seat-num">
    						  <div class="e_shownum">
    						    <div class="e_shownumleft">
    						      <p>2</p>
    						      <p>人工坐席</p>
    						    </div>
    						    <div class="e_shownumright">剩余可用：1个</div>
    					    </div>
    							<button type="button" onclick="alert('待开发');" class="btn btn-size-default">
    								购买更多并发<i class="icon iconfont icon-jiantou"></i>
    							</button>
      					</div>
      				</div>
    				</div>
						<div class="seat-wrap e_seatother con-padding">
								  <div class="my-title"><i class="icon iconfont icon-goumaijilu"></i>购买记录</div>
								  <div class="table-responsive">					 
									 <table class="table table-hover"> 
										<thead class="ant-table-thead">
											<tr>
												<th><span>机器人数量</span></th>
												<th><span>机器人剩余数量</span></th>
												<th><span>服务周期</span></th>
												<th><span>操作</span></th>
											</tr>
										</thead>
											<tbody class="ant-table-tbody">
												<tr class="ant-table-row">
													<td><span id="robotNum"></span>个</td>
													<td id="surplus"></td>
												
													<td id="expirydate">
														
													</td>
													<td>
													 <div style="max-width: 190px;">
														  <button type="button" class="btn btn-size-default" title="温馨提示"
																			data-container="body" data-toggle="popover" data-placement="left"
																			data-content="如需购买或延期，请联系您的销售经理">
																	更多...
															</button>
													<!-- 	 <a href="#" data-toggle="popover" title="Example popover">延 期</a> -->
													 </div>
													</td>
												</tr>
											</tbody>		
									 </table>
								</div>
								
							</div>
							
							<!-- <div class="sms-wrap">
								 <div class="my-title">话费</div>
									<div class="table-responsive">					 
										 <table class="table table-hover"> 
											<thead class="ant-table-thead">
												<tr>
													<th><span>线路名</span></th>
													<th><span>线路别名</span></th>
													<th><span>费率类型</span></th>
													<th><span>计费周期</span></th>
													<th><span>价格</span></th>
													<th><span>余额</span></th>
													<th><span>操作</span></th>
												</tr>
											</thead>
												<tbody class="ant-table-tbody">
													<tr class="ant-table-row">
														<td>2个</td>
														<td>2018-08-31 19:12:57</td>
														<td>2018-08-29至2018-09-29</td>
														<td>2个</td>
														<td>2018-08-31 19:12:57</td>
														<td>2018-08-29至2018-09-29</td>
														<td style="max-width: 190px;">
																<button type="button" class="btn btn-size-default">通话详单</button>
																<button type="button" class="btn btn-size-default">余额转移</button>
														</td>
													</tr>
												</tbody>	
													
										 </table>
									</div>
							 </div> -->
							<!-- 	 
								 <div class="sms-wrap">
										<div class="my-title">短信</div>
										<div class="table-responsive">					 
											 <table class="table table-hover"> 
												<thead class="ant-table-thead">
													<tr>
														<th><span>余量</span></th>
														<th><span>操作</span></th>
													</tr>
												</thead>
													<tbody class="ant-table-tbody">
														<tr class="ant-table-row">
															<td style="width: 80%;">
																<div>0条</div>
															</td>
															<td>
															 <div style="max-width: 190px;">
																 <button type="button" class="btn btn-size-default"><span>消耗详单</span></button>
															 </div>
															</td>
														</tr>
													</tbody>		
											 </table>
										</div>
								 </div>
								 -->
					</div>
					
					
					<div role="tabpanel" class="tab-pane" id="profile">
						  		
						<div class="main-context"> 

								<div class="table-responsive">		
									<section class="navbar main-box-header clearfix">		
											<div class="clearfix">
												<div class="form-inline pull-left" method="get" role="form" style='display:none;'>
							
													<div class="form-group">
														<label class="statusSelect">时间范围:</label>
														<div class="col-lg-9 col-sm-9">
															<div class="col-lg-12 col-sm-12">
																<input type="text" style="width:167px;" class="form-control" id="startDate" name="startDate" value="" readonly="" />
															</div>
															<script>
															$('#startDate').fdatepicker({
																format: 'yyyy-mm-dd  hh:ii:ss',
																pickTime: true
															});
															</script>	
															
														</div>
													</div>
													至
													<div class="form-group">
							
														<div class="col-lg-9 col-sm-9">
															<div class="col-lg-12 col-sm-12">
																<input type="text" class="form-control" id="endTime" name="endTime" value="" readonly="" />
															</div>
							
															<script>
																$('#endTime').fdatepicker({
																	format: 'yyyy-mm-dd hh:ii:ss',
																	pickTime: true
																});
															</script>	
															
														</div>
							
													</div>
							
													<div class="form-group">
															<label>所属人：</label>
															<input type="text" class="form-control" style="width:120px;" id="Personal" name="Personal" placeholder="请输入所属人">
													</div>&nbsp;&nbsp;
													<div class="form-group"> 
														<label class="statusSelect">状态：</label>
														<select style="width:100px;" name="status" id="status" class="form-control">
															<option value=" " selected="">全部</option>
															<option value="0">未成功</option>
															<option value="1">已成功</option>
														</select>
												</div>
													<span class="btn btn-primary" type="button" onclick="searchdata(1,1);">搜索</span>
												
												</div>
												<span class="btn btn-primary pull-right" type="button" style='display:none;'>导出数据</span>
											</div>  
											
										</section>
									<table class="table table-bordered table-hover e_layout" id="profileTable"> 
											<thead class="ant-table-thead">
												<tr>
													<th>充值人</th>
													<th>受益人</th>
													<th>充值金额</th>
													<th>充值前余额</th>
													<th>充值后余额</th>
													<th class="e_textover">备注</th>
													<th>充值时间</th>
												</tr>
											</thead>
											
											<tbody class="ant-table-tbody" id="depositlist">
												
									
											</tbody>		
									</table>
									<div id="modalpagybody"></div>
									
								</div>
								<div class="component-page-empty" id="desempty" style="display:none;">
									<div class="empty-tip line">暂无数据</div>
								</div>
			
						</div>
						  				
					</div>
					
					
					<div role="tabpanel" class="tab-pane" id="Consumption">
				
							<div class="main-context"> 
				
									<div class="table-responsive">			
											<section class="navbar main-box-header clearfix">
														
												<div class="clearfix">
													<div class="form-inline pull-left" method="get" role="form">
								 
														<div class="form-group">
															<label class="statusSelect">时间范围:</label>
															<div class="col-lg-9 col-sm-9">
																<div class="col-lg-12 col-sm-12">
																	<input type="text" style="width:167px;" class="form-control" id="startTime" name="startTime" value="" readonly="" />
																</div>
																<script>
																$('#startTime').fdatepicker({
																	format: 'yyyy-mm-dd  hh:ii:ss',
																	pickTime: true
																});
																</script>	
																
															</div>
														</div>
														至
														<div class="form-group">
								 
															<div class="col-lg-9 col-sm-9">
																<div class="col-lg-12 col-sm-12">
																	<input type="text" class="form-control" id="endDate" name="endDate" value="" readonly="" />
																</div>
								 
																<script>
																	$('#endDate').fdatepicker({
																		format: 'yyyy-mm-dd hh:ii:ss',
																		pickTime: true
																	});
																</script>	
																
															</div>
								 
														</div>
								 
														<div class="form-group">
																<label>管理员：</label>
																<input type="text" class="form-control" style="width:120px;" id="ownerps" name="ownerps" placeholder="请输入管理员">
														</div>
													
														<span class="btn btn-primary" type="button" onclick="orderRecharge(1,1);">搜索</span>
													
								 
													</div>
													<span class="btn btn-primary pull-right" type="button">导出数据</span>									
												</div>  
												
											</section>
											 												
										<table class="table table-bordered table-hover"> 
												<thead class="ant-table-thead">
													<tr>
														<th>管理员</th>
														<th>用户</th>
														<th>被叫号码</th>
														<th>消费金额</th>
													
														<th>按时计费单价</th>
														<th>按月计费单价</th>
														<th>按识别计费单价</th>
														<th>识别次数</th>
														<th>通话时间长</th>

														<th>创建时间</th>
														<th>结束时间</th>
													</tr>
												</thead>
												
												<tbody class="ant-table-tbody" id="orderlist">
													
													<!-- <tr class="ant-table-row">
														<td>扩容</td>
														<td>
															2018-08-31 19:12:57
														</td>
														<td>
															1个并发 * 1个月
														</td>
													</tr> -->
													
												</tbody>		
										</table>
										
										
										<div id="modalbody"></div>
										
									</div>
									
									<div class="component-page-empty" id="componentempty">
										<div class="empty-tip line">暂无数据</div>
									</div>
									
							</div>
		
					</div>
					
					
					<div role="tabpanel" class="tab-pane" id="statistics">
						  		
						<div class="main-context"> 

								<div class="table-responsive">		
										<section class="navbar main-box-header clearfix">		
											<div class="clearfix">
												<div class="form-inline pull-left" method="get" role="form">
							
													<div class="form-group">
														<label class="statusSelect">时间范围:</label>
														<div class="col-lg-9 col-sm-9">
															<div class="col-lg-12 col-sm-12">
																<input type="text" style="width:167px;" class="form-control" id="startshow" name="startshow" value="" readonly="" />
															</div>
															<script>
															$('#startshow').fdatepicker({
																format: 'yyyy-mm-dd ',
																// pickTime: true
															});
															</script>	
															
														</div>
													</div>
													至
													<div class="form-group">
							
														<div class="col-lg-9 col-sm-9">
															<div class="col-lg-12 col-sm-12">
																<input type="text" class="form-control" id="endshow" name="endshow" value="" readonly="" />
															</div>
							
															<script>
																$('#endshow').fdatepicker({
																	format: 'yyyy-mm-dd ',
																// 	pickTime: true
																});
															</script>	
															
														</div>
							
													</div>
							
													<div class="form-group"> 
														<label class="statusSelect">企业名称：</label>
														<select style="width:100px;" name="status" id="companyName" class="form-control">
															<option value=" " selected="">全部</option>
															<option value=" ">1</option>
														</select>
												</div>
													<span class="btn btn-primary" type="button" onclick="Consumption_search();">查询</span>
												
												</div>
											</div>  
											
										</section>
									<table class="table table-bordered table-hover e_layout"> 
											<thead class="ant-table-thead">
												<tr>
													<th>日期</th>
													<th>用户名</th>
													<th>金额</th>
													<th>识别次数</th>
												</tr>
											</thead>
											
											<tbody class="ant-table-tbody" id="datadisplay">
												
									
											</tbody>
											<tbody class="ant-table-tbody" id="today_statistics" style='border-top:0px;'>
												
									
											</tbody>
									</table>
									
									<div id="statpage"></div>
									
								</div>
								<div class="component-page-empty" id="statdesempty">
									<!--<div class="empty-tip line">暂无数据</div>-->
								</div>
			
						</div>
						  				
					</div>
				
	      </div>

		</div>
	</div>				
</div>
<script type="text/html" id="disnote">
  <div class="e_shownote">
		<p>{{datatext}}</p>						  
	</div>
</script>

 <script type="text/javascript">
 console.log(new Date(1540286118))
	 
 var despage = 1;
 	var page = 1;
 $(function(){
	 
   userInfo();
	 
	 orderRecharge(page,0);
	 
	 searchdata(despage,0);
	 
	 $("[data-toggle='popover']").popover();
   
 }) 

	function userInfo(){	
 
		var url = "{:url('getInformation')}";	
		$.ajax({
			url : url,
			dataType : "json", 
			type : "post",
			data : {},
			success: function(data){
				if(data.code=="0"){
					
					var mresult = data.data.mresult; 
					$("#adminUser").text(mresult.username);
					if(mresult.headImg){
						$("#headImg").attr(mresult.headImg);
					}
					if(mresult.money){
				   	$("#adminmoney").text(mresult.money);
					}
					$("#robotNum").text(mresult.robot_cnt);
					$("#surplus").text(mresult.rnum);
					$("#expirydate").text(mresult.create_time + " 至 " + mresult.expiry_date);

				}else{
					console.log(data.msg);
				}
   
         

			},
			error: function() {
				console.log('获取列表失败。');
			}
		});
	 
	}	
 </script>
	<script id='recharge_tepmate' type='text/tepmate'>
		<tr class="itemId{%id%}" alt="{%id%}">
			<td>{%recharge_member_name%}</td>
	    <td>{%member_name%}</td>
	    <td>{%menoy%}</td>
	    <td>{%defore_balance%}</td>
	    <td>{%balance%}</td>
	    <td class="e_textover">
	        <p>{%remak%}</p><span onclick="displaynote(this)">【更多】</span>
	    </td>
	    <td>{%create_time%}</td>
		</tr>
	</script>
	<script id='recharge_statistics_tepmate' type='text/tepmate'>
		<div class="row">
			<div class="col-sm-3 text-left">
				<table class="table table-bordered table-hover" style="margin-bottom: 0px; ">
				    <tbody>
				        <tr>
				            <td class="text-center">总充值金额(支出)</td>
				            <td class="text-center">{%expenditure%}</td>
				        </tr>
				        <tr>
				        	<td class="text-center">总充值金额(收入)</td>
				        	<td class="text-center">{%income%}</td>
				        </tr>
				    </tbody>
				</table>
			</div>
			
		</div>
	</script>
	<script id='consumption_tatistics' type='text/tepmate'>
		<tr>
			<td>{%date%}</td>
			<td>{%member_name%}</td>
			<td>{%money%}元</td>
			<td>{%distinguish_count%}次</td>
		</tr>
	</script>
	
	<script type="text/javascript">
	
	//分页（消费统计的）
	function fenye(total_page,now_page,show=5){
		if(show > total_page){
			show = total_page;
		}
		//判断show是奇数还是偶数
		if((show % 2) === 0){
			var pre = (show / 2) - 1;
			var next = show / 2;
		}else{
			var pre = (show - 1)/2;
			var next = pre;
		
		}
		//设置上一页的起点
		var star = now_page - pre;
		//设置下一页的终点
		var end = now_page + next;
		//判断是否存在起点和终点是否存在溢出
		if(end > total_page){
			star = star + (total_page - end);
			end = total_page;
		}
		if(star < 1){
			end = end + (1 - star);
			star = 1;
		}
		
		
		var fenye_html = "";
		if(total_page > 1){
			fenye_html = '<ul class="pagination">';
			
			if(now_page > 1){
				fenye_html += '<li data-page="'+(now_page - 1)+'" title="'+(now_page - 1)+'"><a href="javascript:void(0);"> << </a></li>';
			}
			for(star; star <= end; star++ ){
				if(star == now_page){
					fenye_html += '<li class="active" title="'+star+'"><a href="javascript:void(0);">'+star+'</a></li>';
				}else{
					fenye_html += '<li data-page="'+star+'" title="'+star+'"><a href="javascript:void(0);">'+star+'</a></li>';
				}
			}
			if(now_page < total_page){
				fenye_html += '<li data-page="'+(now_page + 1)+'" title="'+(now_page + 1)+'"><a href="javascript:void(0);"> >> </a></li>';
			}
			fenye_html += '</ul>';
		}else{
			fenye_html = '<ul class="pagination">';
			fenye_html += '<li class="active" title="1"><a href="javascript:void(0);">1</a></li>';
			fenye_html += '</ul>';
		}
		
		$('#statpage').html(fenye_html);
		
		$('.pagination>li[data-page]').unbind('click');
		$('.pagination>li[data-page]').click(function(){
			var page = $(this).data('page');
			$(this).siblings('li').removeClass('active');
			$(this).addClass('active');
			search = {
				'startshow' : $('#startshow').val(),
				'endshow' : $('#endshow').val()
			};
			var companyName = $('#companyName option:selected').text();
			if(companyName == "全部"){
				companyName = 0
			}else{
				search['companyName'] = 1;
			}
			
			get_consumption_statistics(page,search);
		});
		
	}
	//消费统计搜索
	function Consumption_search(){
		var startshow = $('#startshow').val();
		var endshow = $('#endshow').val();
		var companyName = $('#companyName option:selected').text();
		var search = {
			'startshow' : startshow,
			'endshow' : endshow
		};
		if(companyName == "全部"){
			companyName = 0
		}else{
			search['companyName'] = 1;
		}
		//调用获取消费统计数据的方法
		get_consumption_statistics(1,search);
		
	}
	
  // 订购充值 的搜索	
	var startDate,endTime,personal,status;
  function recharge(page){
		
		 	var url = "{:url('getConsume')}";	
		 	$.ajax({
 				url : url,
 				dataType : "json", 
 				type : "post",
 				data : {
					'page':page,
					'startDate':startDate,
					'endTime':endTime,
					'personal':personal,
					'status':status
					},
 			
 				success: function(data){
 					console.log(data);
          if(data.code == 0){
						 var htmls = '';
						 $.each(data.data.list, function(index, object){
						 	var html = $('#recharge_tepmate').html();
						 			html = html.replace('{%member_name%}', object.member_name);
						 			html = html.replace('{%recharge_member_name%}', object.recharge_member_name);
						 			html = html.replace('{%menoy%}', object.menoy + '元');
						 			html = html.replace('{%remak%}', object.remak);
						 			html = html.replace('{%balance%}', object.balance + '元');
						 			html = html.replace('{%defore_balance%}', object.defore_balance + '元');
						 			html = html.replace('{%create_time%}', object.create_time);
						 			htmls += html;
						 });
						 $('#depositlist').html(htmls);
						 var recharge_statistics = $('#recharge_statistics_tepmate').html();
						 		 recharge_statistics = recharge_statistics.replace('{%expenditure%}', data.data.expenditure + '元');
						 		 recharge_statistics = recharge_statistics.replace('{%income%}', data.data.income + '元');
						 $('#modalpagybody').html(recharge_statistics);
						 return false;
						 
							var total = data.data.total;
							var Nowpage = data.data.Nowpage;
							var page = data.data.page;
							var Nowpage = parseInt(Nowpage);
							
							var data = data.data.list;
							if(data.length > 0){
								 
								$("#desempty").css("display","none");
							
								$("#depositlist").find("tr").remove();
								
								for(var i=0;i<data.length;i++){
									
								
									var id = data[i].id;
									var username = data[i].username;
									var menoy = data[i].menoy;
									var type = data[i].type;
									var status = data[i].status;
									var create_time = data[i].create_time;
									var deposit_type = data[i].deposit_type;
									
									var typestr = "现金";
									if(type == '1'){
										var typestr = "语音充值";
									}
//  										var destypestr = "微信";
//  										if(deposit_type == '1'){
//  											var destypestr = "支付宝";
//  										}
//  
							      
									var strstatus = "未成功";
									if(status == "1"){
											strstatus = "已成功";
									}

                  var notedata = '测试账号金额充值成功';

									var string = '<tr class="itemId'+id+'" alt="'+id+'">'
									+'<td>'+username+'</td>'
									+'<td>'+menoy+'</td>'
									+'<td>'+strstatus+'</td>'
									+'<td>'+''+'</td>'
									+'<td>'+''+'</td>';  
									
									if(notedata.length > 8) {
									  string += '<td class="e_textover">'+'<p>'+notedata+'</p>'+'<span onclick="displaynote(this)">【更多】</span>'+'</td>';
									} else {
									  string += '<td class="e_textover">'+'<p>'+notedata+'</p>'+'</td>';
									}
									
									string += '<td>'+create_time+'</td>';
									string += '</tr>';
									$("#depositlist").append(string); 
								}
								
								var prepage = Nowpage-1;
								var nextpage = Nowpage+1;
								
								var str = '<div class="row">'
														+'<div class="col-sm-3 text-left">'
																	
														+'<table class="table table-bordered table-hover" style="margin-bottom: 0px; ">'
														+'<tbody><tr>'
														+'<td class="text-center">总充值金额(支出)：'
														+'</td>'
														+'<td class="text-center">'+total+'&nbsp;元'
														+'</td>'
																					
														+'</tr> '
														+'</tbody></table>'                                     
							
														+'</div>'
														+'<div class="col-sm-9 text-right">'
														+'<ul class="pagination">';
								
								if(Nowpage == 1){
									str += '<li id="prevbtn" class="disabled"><span>«</span></li> ';
								}else{
									str += '<li><a href="javascript:void(0);" onclick="searchdata('+prepage+',0);"><span>«</span></a></li> ';
								}
								
								if(page > 10){
								
									if(Nowpage < 7){
										for(var i=0;i<page;i++){
											var nownum = i+1;
											if(nownum < 9){
													if(nownum == Nowpage){
														str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
													}else{
														str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
													}
											}
											
											if(nownum == 9 && nownum != Nowpage){
													str += '<li class="disabled"><span>...</span></li>';  
											}else if(nownum == 9){
												str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';  
											}
										
												if(nownum > (page-2)){
														if(nownum == Nowpage){
															str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
														}else{
															str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
														}
												}

											}
									}else if(Nowpage > 6 && Nowpage < (page-6)){
										for(var i=0;i<page;i++){
											var nownum = i+1;
											var Nowpage = parseInt(Nowpage);
											if(nownum < 3){
												str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> '; 
											}
											
											if((nownum > Nowpage-5) && (nownum < Nowpage+5)){
										
																if(nownum == (Nowpage-4)){
																	str += '<li class="disabled"><span>...</span></li>';
																}   
															
																	if(nownum > (Nowpage-4) && nownum < Nowpage){
																		str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>'; 
																	}  
																
																	if(nownum == Nowpage){
																	str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';  
																	} 
																
																	if(nownum < (Nowpage + 4) && nownum > Nowpage){
																	str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>'; 
																	}  
														
																	if(nownum == (Nowpage + 4)){
																
																	str += '<li class="disabled"><span>...</span></li>';
																	}   
												}
												
											if(nownum > (page-2)){
												var Nowpage = parseInt(Nowpage);
												if(nownum == Nowpage){
															str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';
													}else{
														str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';
													}   
											
												}     

											}
									}else{
										
										for(var i=0;i<page;i++){
											var nownum = i+1;
											if(nownum<3){
												str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li>';  
											}
										
											if(nownum == (page-10) && nownum != Nowpage){
												str += '<li class="disabled"><span>...</span></li>';   
											}else if(nownum == (page-10) && nownum == Nowpage){
												str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';   
											}
											
											if(nownum > (page-10)){
												if(nownum == Nowpage){
													str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';   
												}else{
													str += '<li ><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';   
												}
											}
											
											
										}
								
											
									}
								}else{
										for(var i=0;i<page;i++){
											var nownum = i+1;
											if(nownum == Nowpage){
												str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
											}else{
												str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
											}
										}
								}
								
			
							
								if(Nowpage == page){
									str += '<li id="prevbtn" class="disabled"><span>»</span></li> ';
								}else{
									str += '<li><a href="javascript:void(0);" onclick="searchdata('+nextpage+',0);"><span>»</span></a></li>';
								}
							
								str += '</ul>'
								+'</div>'
								+'</div>'
								
								// $("#modalpagybody").find("div").remove();
								$("#modalpagybody").append(str); 
								
							}else{
								
								$("#desempty").css("display","block");

								$("#depositlist").find("tr").remove();
						
							}
								
					}else{
						$("#desempty").css("display","block");

						$("#depositlist").find("tr").remove();
					}
 				
 				},
 				error : function() {
 					alert('获取列表失败。');
 				}
		 		});
		 	
	
  }	 
  	 
  //获取订购充值列表
  function searchdata(page,type){	

  		if(type == 1){
  			startDate = $("#startDate").val();
  			endTime = $("#endTime").val();
  			personal = $("#Personal").val();
  			status = $("#status").val();
  		}
  
	    recharge(page);
 }	
	get_consumption_statistics();
	//获取消费统计数据 ConsumptionStatistics
	function get_consumption_statistics(page,search="")
	{
		console.log(search);
		var url = '{:url("get_consumption_statistics_api")}';
		if(page == null || page == ''){
			page = 1;
		}
		page = parseInt(page);
		$.ajax({
			type:"POST",
			dataType:'json',
			data:{
				page:page,
				search:search
			},
			url:url,
			success:function(result){
				console.log(result);
				if(result.code === 0){
					var htmls = '';
					$.each(result.data.data, function(index, object){
						var html = $('#consumption_tatistics').html();
								html = html.replace('{%member_name%}', object.member_name);
								html = html.replace('{%date%}', object.date);
								html = html.replace('{%money%}', object.money);
								html = html.replace('{%distinguish_count%}', object.distinguish_count);
						htmls += html;
					});
					var summary_html = '';
					summary_html +=  '<tr>';
						summary_html +=  '<td colspan="2">汇总</td>';
						summary_html +=  '<td>'+result.data.summary_consumption+'元</td>';
						summary_html +=  '<td>'+result.data.summary_distinguish_count+'次</td>';
					summary_html +=  '</tr>';
					htmls += summary_html;
					$('#datadisplay').html(htmls);
					var total_page = Math.ceil(result.data.count/2);
					console.log(total_page);
					fenye(total_page,page);
				}
			},
			error:function(){
				alert('获取数据失败');
			}
		});
	}
	get_today_consumption_statistics();
	//获取今天的消费统计
	function get_today_consumption_statistics()
	{
		var url = '{:url("enterprise/get_today_consumption_statistic_api")}';
		$.ajax({
			type:"GET",
			data:{},
			dataType:"json",
			url:url,
			success:function(result){
				console.log(result);
				if(result.code == 0){
					var summary_html = '';
					summary_html +=  '<tr>';
						summary_html +=  '<td colspan="2">今日汇总</td>';
						summary_html +=  '<td>'+result.data.cost+'元</td>';
						summary_html +=  '<td>'+result.data.distinguish_count+'次</td>';
					summary_html +=  '</tr>';
					$('#today_statistics').html(summary_html);
				}
			},
			error:function(){
				alert('今天的消费统计获取失败');
			}
		});
	}
	
	
 	//获取等待列表
 	var startTime,endDate,ownerps;
 	function orderRecharge(page,type){	
			
 		if(type == 1){
 			startTime = $("#startTime").val();
 			endDate = $("#endDate").val();
 			ownerps = $("#ownerps").val();
 		}
 
 		consumption(page);
  }	
	 
	function consumption(page){
		 	
 		var url = "{:url('getorderRecharge')}";	
 		$.ajax({
 			url : url,
 			dataType : "json", 
 			type : "post",
 			data : {
				'page':page,
				'startTime':startTime,
				'endDate':endDate,
				'ownerps':ownerps,
				},
 		
 			success: function(data){
 				// console.log(data);
				if(data.code == 0){
					var total = data.data.total;
					var Nowpage = data.data.Nowpage;
					var page = data.data.page;
					var Nowpage = parseInt(Nowpage);
					
					var data = data.data.list;
					if(data.length > 0){
						
								$("#componentempty").css("display","none");
						
								$("#orderlist").find("tr").remove();
								
								for(var i=0;i<data.length;i++){
									
									var id = data[i].id;
									var musername = data[i].musername;
									var ausername = data[i].ausername;
									var owner = data[i].owner;
									var member_id = data[i].member_id;
									var mobile = data[i].mobile;
									var duration = data[i].duration;
									var money = data[i].money;
									var time_price = data[i].time_price;
									var month_price = data[i].month_price;
									var asr_price = data[i].asr_price;
									var create_time = data[i].create_time;
									var end_time = data[i].end_time;
									var asr_cnt = data[i].asr_cnt;

									var string = '<tr class="itemId'+id+'" alt="'+id+'">'
										+'<td>'+ausername+'</td>'
										+'<td>'+musername+'</td>'
										+'<td>'+mobile+'</td>'
										+'<td>'+money+'（元）</td>'
										+'<td>'+time_price+'</td>'
										+'<td>'+month_price+'</td>'
										+'<td>'+asr_price+'</td>'
										+'<td>'+asr_cnt+'</td>'
										+'<td>'+duration+'</td>'   
										+'<td>'+create_time+'</td>'
										+'<td>'+end_time+'</td>';
										string += '</tr>';
										$("#orderlist").append(string); 

								}
								
								var prepage = Nowpage-1;
								var nextpage = Nowpage+1;
							
								var str = '<div class="row">'
								+'<div class="col-sm-3 text-left">'
											
								+'<table class="table table-bordered table-hover" style="margin-bottom: 0px; ">'
								+'<tbody><tr>'
								+'<td class="text-center">总消费金额：'
								+'</td>'
								+'<td class="text-center">'+total+'&nbsp;元'
								+'</td>'
														
								+'</tr> '
								+'</tbody></table>'                                     
	
								+'</div>'
								+'<div class="col-sm-9 text-right">'
								+'<ul class="pagination">';
							
								if(Nowpage == 1){
									str += '<li id="prevbtn" class="disabled"><span>«</span></li> ';
								}else{
									str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+prepage+',0);"><span>«</span></a></li> ';
								}
								
								if(page > 10){
								
									if(Nowpage < 7){
										for(var i=0;i<page;i++){
											var nownum = i+1;
											if(nownum < 9){
												if(nownum == Nowpage){
													str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
												}else{
													str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
												}
											}
											
											if(nownum == 9 && nownum != Nowpage){
												str += '<li class="disabled"><span>...</span></li>';  
											}else if(nownum == 9){
												str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li> ';  
											}
										
												if(nownum > (page-2)){
													if(nownum == Nowpage){
														str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
													}else{
														str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
													}
												}

										}
									}else if(Nowpage > 6 && Nowpage < (page-6)){
										for(var i=0;i<page;i++){
											var nownum = i+1;
											var Nowpage = parseInt(Nowpage);
											if(nownum < 3){
												str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> '; 
											}
											
											if((nownum > Nowpage-5) && (nownum < Nowpage+5)){
										
															if(nownum == (Nowpage-4)){
																	str += '<li class="disabled"><span>...</span></li>';
															}   
															
																if(nownum > (Nowpage-4) && nownum < Nowpage){
																	str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>'; 
																}  
															
																if(nownum == Nowpage){
																str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>';  
																} 
															
																if(nownum < (Nowpage + 4) && nownum > Nowpage){
																	str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>'; 
																}  
														
																if(nownum == (Nowpage + 4)){
																
																str += '<li class="disabled"><span>...</span></li>';
																}   
											}
											
										if(nownum > (page-2)){
											var Nowpage = parseInt(Nowpage);
											if(nownum == Nowpage){
														str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>';
												}else{
														str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li> ';
												}   
										
											}     

										}
									}else{
										
										for(var i=0;i<page;i++){
											var nownum = i+1;
											if(nownum<3){
												str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li>';  
											}
										
											if(nownum == (page-10) && nownum != Nowpage){
												str += '<li class="disabled"><span>...</span></li>';   
											}else if(nownum == (page-10) && nownum == Nowpage){
												str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>';   
											}
											
											if(nownum > (page-10)){
												if(nownum == Nowpage){
													str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li> ';   
												}else{
													str += '<li ><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+'</a></li>';   
												}
											}
											
											
										}
							
											
									}
								}else{
									for(var i=0;i<page;i++){
										var nownum = i+1;
										if(nownum == Nowpage){
											str += '<li class="active"><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
										}else{
											str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nownum+',0);">'+nownum+' </a></li> ';  
										}
									}
								}
								
			
						
								if(Nowpage == page){
									str += '<li id="prevbtn" class="disabled"><span>»</span></li> ';
								}else{
									str += '<li><a href="javascript:void(0);" onclick="orderRecharge('+nextpage+',0);"><span>»</span></a></li>';
								}
							
								str += '</ul>'
								+'</div>'
								+'</div>'
							
								$("#modalbody").find("div").remove();
								$("#modalbody").append(str); 
							}else{
								$("#componentempty").css("display","block");

								$("#orderlist").find("tr").remove();
							}
				}else{
					$("#componentempty").css("display","block");

					$("#orderlist").find("tr").remove();
				}
 			},
 			error : function() {
 				alert('获取列表失败。');
 			}
 		});
		 		
	 }
	 
	function displaynote(data) {
	   var note = $(data).siblings('.e_shownote');
	   if(note.length > 0) {
	     $(note).remove();
	   } else {
	     $('.e_shownote').remove();
	     var $tem = $('#disnote').html();
  	   $tem = $tem.replace("{{datatext}}" , $(data).siblings('p').text());
       $(data).parent().append($tem);
	   }
	   
	 }
 </script>

</div>


{/block}

