{extend name="public/base" /}
{block name="body"}

<style type="text/css">
.textwidth{
width:250px;
}
.nav-tabs {
background: #ffffff;
}
.nav-tabs {
border-bottom: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color: #555;
cursor: default;
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent;
}
.panel-default>.panel-heading {
background-color: #FFFFFF;
border-color: #FFFFFF;
color: #FFFFFF;
border-radius: 0;
background-clip: padding-box;
}
.margintop{
margin-top:5px;
}
</style>
     
<div class="row">
<div class="col-lg-12">
  
  
<div class="panel panel-default">
    <div class="panel-heading">
       <header class="main-box-header clearfix">
          <div class="pull-left">
            <h1>商户通知</h1>
          </div>
       </header>
    </div>

        <div class="main-box-body clearfix">
        
             <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data" method="post">
   
                  <div class="form-group">
                    <label class="col-lg-2 control-label">短信签名：</label>
                    <div class="col-lg-10 col-sm-10">
                      <input type="text" class="form-control textwidth" placeholder="短信签名" name="sign" id="sign" value="{$value.sign|default=""}" />
                    </div>
                  </div>
                  
                   <div class="form-group">
                    <label class="col-lg-2 control-label">通知人手机号：</label>
                    <div class="col-lg-10 col-sm-10">
                      <input type="text" class="form-control textwidth" placeholder="通知人手机号" name="phoneNumber" id="phoneNumber" value="{$value.phoneNumber|default=""}" />
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-lg-2 control-label">短信内容：</label>
                    <div class="col-lg-10 col-sm-10">
                      <textarea style="resize: both;" class="form-control textwidth" placeholder="短信内容" name="content" id="content">{$value.content|default=""}</textarea>
                    </div>
                  </div>
       
               
     
                   <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">   
                       <input type="hidden" name="configId" id="configId" value="{$res.id|default=''}" />    
                     <span onclick="checkform();" class="btn btn-success submit-btn">确 定</span>
                       <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                      
                    </div>
                   </div>
         
    
             </form>
          </div>
    
    
</div>  


<script type="text/javascript">
//检查表单的必填项
function checkform(){
  
	

    var href = window.location.href;
    
    $.ajax({
        type: "POST",
        dataType:'json',
        url: href,
        cache: false,
        data: $("#form").serialize(),
        success: function(data) {
          if (data.code) {
            alert(data.msg);
           // location.reload();
         }else{
            alert(data.msg + ' 页面即将自动跳转~');
         } 
          
          location.href = "{:url('User/System/notification')}";
          
        },
        error: function(data) {
          alert("提交失败");
        }
    }) 
    

}  

</script>

</div>

</div>

{/block}

