{extend name="public/base" /}
{block name="body"}


<style type="text/css">
.textwidth{
width:250px;
}
.nav-tabs {
background: #ffffff;
}
.nav-tabs {
border-bottom: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color: #555;
cursor: default;
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent;
}
.panel-default>.panel-heading {
background-color: #FFFFFF;
border-color: #FFFFFF;
color: #FFFFFF;
border-radius: 0;
background-clip: padding-box;
}
</style>
     
<div class="row">
<div class="col-lg-12">
	
  
<div class="panel panel-default">
      <div class="panel-heading">
        <header class="main-box-header clearfix">
		   <div class="pull-left">
			  <h1><span>{$current|default=''}</span>等级</h1>
		   </div>
		</header>
      </div>
	  <div class="panel-body">
	
	       <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data" method="post">		
	
		      <div class="main-box-body clearfix">

			    <div class="form-group">
					<label class="col-lg-2 control-label">等级名称：</label>
					<div class="col-lg-10 col-sm-10">
					   <input type="text" class="form-control textwidth" name="name" id="gradeName" value="{$levellist.name|default=''}" />
					   <div class="help-block">设置会员等级名称</div>
					</div>
					
			    </div>
			    
			    <div class="form-group">
					<label class="col-lg-2 control-label">升级所需金额：</label>
					<div class="col-lg-10 col-sm-10">
						<input type="text" class="form-control textwidth" name="order_money" id="order_money" value="{$levellist.order_money|default=''}" />
					     <div class="help-block">设置会员等级升级所需要的完成订单金额</div>
					</div>
			    </div>
			    
			     <div class="form-group">
					<label class="col-lg-2 control-label">升级所需订单数：</label>
					<div class="col-lg-10 col-sm-10">
						<input type="text" class="form-control textwidth" name="order_count" id="order_count" value="{$levellist.order_count|default=''}" />
					     <div class="help-block">设置会员等级升级所需要的完成订单数量</div>
					</div>
			    </div>
			   
			    <div class="form-group">
					<label class="col-lg-2 control-label">折扣率：</label>
					<div class="col-lg-10 col-sm-10">
						<input type="text" class="form-control textwidth" name="discount" id="depositRate" value="{$levellist.discount|default=''}" />
					    <div class="help-block">折扣率单位为百分比，如：输入90，表示该会员等级的用户可以以商品原价的90%购买</div>
					</div>
			    </div>

			   
			  <div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">	<!--   target-form="form-horizontal" -->	
				    <input type="hidden" name="gradeId" id="gradeId" value="{$levellist.id|default=''}" />			  
					<button class="btn btn-success submit-btn" onclick="checkform();" type="button">确 定</button>
					<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			 </div>
		 
		
		      </div>

		
		     </form>
		
		
	  </div>
</div>	
					


<script type="text/javascript">
//检查表单的必填项
function checkform(){

	  var gradeName = $("#gradeName").val();
	  if(!gradeName){
		  alert("等级名称不能为空"); 
		  return false; 
	  }
	  if(gradeName.length>30){
		  alert("等级名称限30个字"); 
		  return false; 
	  } 

	 
	  var reg = /^\d+(\.\d+)?$/;
	  var order_money = $("#order_money").val();
	  if(!reg.test(order_money) || order_money <1){
		  alert("升级所需完成订单金额不能为空并且只能是大于1的数字"); 
		  return false; 
	  }
	  
	  var order_count = $("#order_count").val();
	  if(!reg.test(order_count) || order_count <1){
		  alert("会员等级升级所需要的完成订单数量不能为空并且只能是大于1的数字"); 
		  return false; 
	  }
	  var regu = /^[1-9]\d*$/;
	  if (!regu.test(order_count)) {
		  alert("会员等级升级所需要的完成订单数量只能是大于1的正整数"); 
		  return false; 
	  }
	  
	  var depositRate = $("#depositRate").val();
	  if(!reg.test(depositRate) || depositRate <1 || depositRate >100){
		  alert("折扣率不能为空并且只能是大于1小于100的数字"); 
		  return false; 
	  }

      updata();

}

   function updata(){
   	   var href = window.location.href;
   		 $.ajax({
   		     type: "POST",
   		     dataType:'json',
   		     url: href,
   		     cache: false,
   		     data: $("#form").serialize(),
   		     success: function(data) {
   		    	 if (data.code == 1) {
   		    	     alert(data.msg + ' 页面即将自动跳转~');
   		    	     location.href = data.url;
   		    	}else{
   		    		 alert(data.msg);
   		    		 location.href = data.url;
   		    	} 
   		     },
   		     error: function(data) {
   		    	 alert("提交失败");
   		     }
   		 }) 
   }

</script>


</div>

</div>

{/block}

