{extend name="public/base" /}
{block name="body"}

<script type="text/javascript" href="__PUBLIC__/plugs/bootstrap/popover.js"></script>

<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/record.css"/>

	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">	
			<header class="main-box-header n_head_box n_head_box_b clearfix">
			  <div class="pull-left">
				  <span class="n_panel_title"><i class="icon iconfont icon-duanxin1"></i>每日统计</span>
			  </div>
			</header>
				<div class="main-context main-box-body"> 	
					<section class="navbar clearfix">		
							<div class="clearfix">
								<div class="form-inline pull-left" method="get" role="form">
									<div class="form-group">
										<label class="statusSelect fl">日期：</label>
										<input type="text" style="" class="form-control s_inputwidth" id="startshow" name="startshow" value="" readonly="" />
										<script>
											$('#startshow').fdatepicker({
												format: 'yyyy-mm-dd ',
											});
										</script>	
											到
										<input type="text" class="form-control s_inputwidth" id="endshow" name="endshow" value="" readonly="" />
										<script>
											$('#endshow').fdatepicker({
												format: 'yyyy-mm-dd ',
											});
										</script>	
									</div>
			
									<div class="form-group"> 
										<label class="statusSelect">操作类型：</label>
										<select style="width:100px;" name="status" id="companyName" class="form-control">
											<option value=" " selected="">请选择</option>
											<option value=" ">消费</option>
											<option value=" ">充值</option>
											<option value=" ">扣除</option>
										</select>
									</div>
									<div class="form-group"> 
										<label class="statusSelect">用户名：</label>
										<input type="text" class="form-control" value="" style="width:120px;"/>
									</div>
									
									<span class="btn btn-primary" type="button" onclick=";">搜索</span>
								
								</div>
							</div>  
							
						</section>
					<table class="table table-bordered table-hover r_sendtable r_layout"> 
						<thead class="ant-table-thead ">
							<tr>
								<th>日期</th>
								<th>消费客户</th>
								<th>消费数量</th>
								<th>操作类型</th>
								<th>备注</th>
							</tr>
						</thead>
						
						<tbody class="ant-table-tbody" id="datadisplay">
							<tr>
								<td>2018-10-22 18:56:01</td>
								<td>xie123456</td>
								<td>1</td>
								<td>消费</td>
								<td>13376259827发送短信计费1条扣除0.07元</td>
							</tr>
						</tbody>
					</table>
					
					<div id="statpage"></div>
					
					<div class="component-page-empty" id="statdesempty">
					</div>
				</div>

		</div>
	</div>				
</div>

{/block}

