 

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/bootstrap-select/dist/css/bootstrap-select.min.css" />

<script type="text/javascript" src="__PUBLIC__/plugs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

 
<div class="modal fade" id="newRule" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  
	  <div class="modal-dialog">
			
			<div class="modal-content">
				
				  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title"> 编辑默认规则</h4>
					</div>
				
				 <div class="modal-body">
					 <div class="create-modal-body">
						 <div class="add-modal-wrap">
							 
							 <div class="add-modal-tips"><span>同时满足下列条件</span></div>
							 <div class="modal-rules-wrap" style="max-height: 400px;overflow-y: auto;">
									<div id="conditionlist">
										
									</div>
									<div style="margin-top: 10px;">
									 <button type="button" class="btn btn-primary" onclick="addcondition();" style="font-size: 14px;">
										 <i class="fa fa-plus-circle fa-lg"></i>
										 <span>添加条件</span>
									 </button>
									</div>
							
							 </div>
							 
							 <div class="modal-result">
								 <p>将意向等级标签设置为</p>
								 <div class="" style="width: 200px; margin-top: 15px;">
									   <select class="form-control" id="classify" name="classify">
									   		<option value=" "> 选择意向等级 </option>
												<option value="6">A级(有明确意向)</option>
												<option value="5">B级(可能有意向)</option>
												<option value="4">C级(明确拒绝)</option>
												<option value="3">D级(用户忙)</option>
												<option value="2">E级(拨打失败)</option>
												<option value="1">F级(无效客户)</option>
									   </select>
								 </div>
							 </div>

               <div style="clear:both;"></div>
							 
						 </div>

					 </div>
			
				 </div>
				 
				 <div style="clear:both"></div>
				 
				 <div class="modal-footer">
					 <input type="hidden" name="editsSceneId" id="editsSceneId" value="">
					<button class="btn btn-primary submit-btn" onclick="creatNewRule();" type="button">确 定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				 </div>
				 
		  </div>
						 
    </div>
 
		<script type="text/javascript">
			
			
			// 编辑意向标签列表
			function editLabel(id){
			
					var url = "{:url('user/Scenarios/getscene')}";	
					$.ajax({
						url : url,
						dataType : "json", 
						type : "post",
						data : {'id':id},
						success: function(data){	
							
								var rule = data.data.rule;
								
								$("#editsSceneId").val(data.data.id);

								
								already.splice(0,already.length);
	
								var leng = rule.length;
								
								var one = ['invite_succ','final_refusal'];
								var two = ['hit_problem_times','affirm_times','reject_times','speak_count','call_duration'];
								
								
	             $('#conditionlist').find("div").remove();
	
								for(var i=0;i<leng;i++){
								
              //	console.log(rule[i].key);
	
									already.push(rule[i].key);								
											
									var str = '<div class="form-inline rule-item">'
												+'<select class="form-control itmr mainwidth oneselect" onchange="checkedval(this);">';
												str += '<option value=" ">选择条件</option>';
												{volist name="intention" id="vo"}
													if('{$vo.key}' == rule[i].key){
														str += '<option value="{$vo.key}" selected>{$vo.name}</option>';
													}else{
														
														if(already.indexOf('{$vo.key}') == "-1"){
															str += '<option value="{$vo.key}">{$vo.name}</option>';
														}
														
													}
												{/volist}
												str += '</select>';
												
											
															
													{volist name="intention" id="vo"}
													
													if('{$vo.key}' == rule[i].key){
														
	                           if(one.indexOf(rule[i].key) != "-1"){
																str += '<input type="text" class="form-control itmr secwidth twoval" value="=" readonly="readonly" />';
																str += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
																str += '<select class="form-control itnuwidth itmr threeval">';
																{volist name="vo.list" id="lvo"}
																  if('{$lvo.value}' == rule[i].value){
																  	str += '<option value="{$lvo.value}" selected>{$lvo.name}</option>';
																  }else{
																      str += '<option value="{$lvo.value}">{$lvo.name}</option>';
																  }					
																{/volist}
																str += '</select>';
															}
															else if(two.indexOf(rule[i].key) != "-1"){
																							
																	str += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
																	str += '<select class="form-control itmr secwidth twoval">';
																	{volist name="vo.ops" id="lvo"}
																	   if('{$lvo.value}' == rule[i].op){
																			 str += '<option value="{$lvo.value}" selected>{$lvo.name}</option>';
																		 }else{
																			 str += '<option value="{$lvo.value}">{$lvo.name}</option>';
																		 }
																	{/volist}
																	str += '</select>';
																	
																	str += '<input type="number" min="0" value="'+rule[i].value+'" class="form-control itnuwidth itmr threeval">';
																	str += '<span class="itmr inferior">次</span>';
																
															} 
															else if(rule[i].key == "say_keyword"){
																
																			str += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
																			str += '<select class="form-control itmr secwidth twoval"  style="width:100px;" >';
																			{volist name="vo.ops" id="lvo"}
																				if('{$lvo.value}' == rule[i].op){
																					str += '<option value="{$lvo.value}" selected>{$lvo.name}</option>';
																				}else{
																					str += '<option value="{$lvo.value}">{$lvo.name}</option>';
																				}
																			{/volist}
																			str += '</select>';
																			str += '<input type="text" value="'+rule[i].value+'" class="form-control itnuwidth itmr threeval" placeholder="请填写关键词,关键词之间用英文逗号隔开" aria-hidden="true"' 
																			+'data-toggle="tooltip" data-placement="top" title="关键词之间用英文逗号隔开。" style="width:170px;" />';
																
															}
															else if(rule[i].key == "call_status"){
																
																		str += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
																		str += '<input type="text" class="form-control itmr secwidth twoval" value="=" readonly="readonly" />';

																		str += '<span id="disabled2select" class="itmr"></span>';
													
																							
															}
															
								
														}
														
													{/volist}
													
								
												
												
												str +='<span class="glyphicon glyphicon-trash rule-item-delete" onclick="delItem(this);" aria-hidden="true"></span>'
												+'</div>';

									$('#conditionlist').append(str);
									
									
								}

								$('#newRule').modal('show');
								
								$("#classify").val(data.data.level);	
								
								for(var i=0;i<leng;i++){

									{volist name="intention" id="vo"}
																					
									if('{$vo.key}' == rule[i].key){
										
										if(rule[i].key == "call_status"){
												
												  var oldnumber = new Array();
													var vl = rule[i].value;
													$.each(vl, function (i) {
																	oldnumber.push(vl[i]);
													});
														createEl();
														
														console.log(oldnumber);			

														$("#first-disabled2").selectpicker('val', oldnumber);//默认选中

															console.log(rule[i].value);				
											}
											
				
										}
										
									{/volist}
									
								}

								
						},
						error : function() {
						  //alert('审核信息失败。');
					  }
					});
				
			}

				
			//打开弹窗	
			function createNew(){
				
				 already.splice(0,already.length);

				 $("#editsSceneId").val("");
					
				 $("#classify").val(" ");	
				 $('#conditionlist').find("div").remove();
				 $('#newRule').modal('show');

			}
			
			var already = [];
		 
		  // 添加元素
		  function addcondition(){
			
			 var flag = false;
				var str = '<div class="form-inline rule-item">'
									+'<select class="form-control itmr mainwidth oneselect" onchange="checkedval(this);">';
									str += '<option value=" ">选择条件</option>';
									{volist name="intention" id="vo"}
										if(already.indexOf('{$vo.key}') == "-1"){
											str += '<option value="{$vo.key}">{$vo.name}</option>';
											flag = true;
										}
									{/volist}
									
								//	str += '<option value="5">A类</option>';
									
									str += '</select>'
// 									+'<select class="form-control itmr secwidth">'
// 									+'<option value="5">A类</option>'
// 									+'<option value="5">A类</option>'
// 									+'</select>'
// 									+'<input type="number" class="form-control itnuwidth itmr">'
// 									+'<span class="itmr inferior">次</span>'
									str +='<span class="glyphicon glyphicon-trash rule-item-delete" onclick="delItem(this);" aria-hidden="true"></span>'
									+'</div>';
				
				if(!flag){
					alert("没有可以添加的数据。");
					return false;
				}
				
				$('#conditionlist').append(str);
				
			}
			
			//删除
			function delItem(obj){
				
			 var val =	$(obj).attr('alt');
			 
				$(obj).parent().remove();
		
				already = $.grep(already, function(value) {
				 return value != val;
				});
				
				
			}
			
			function createEl(){
				
					var newMask = document.createElement('select');
					newMask.id ="first-disabled2";
					newMask.name ="sale_ids[]";
					newMask.style.width = 'width:180px;';

					newMask.className ="selectpicker form-control itnuwidth itmr threeval";
					newMask.dataHideDisabled ="true";
					newMask.multiple ="multiple";
					newMask.title ="请选择状态";
					
					
					$('#disabled2select').append(newMask);
					
							{volist name="intention" id="vo"}
										
								if('{$vo.key}' == "call_status"){
									  {volist name="vo.list" id="lvo"}
							      	$('#first-disabled2.selectpicker').append("<option value=\"{$lvo.value}\">{$lvo.name}</option>");
										{/volist}
								}
								
							{/volist}
					
				
					//$('#first-disabled2.selectpicker').append("<option value=\"2\">a2</option>");
					
					$('#first-disabled2').selectpicker('refresh');
					
				
					
			}
			
			//选择主要条件
			function checkedval(obj){
				
				var val = $(obj).val();
				if(val == " "){
					return false;
				}
				already.push(val);
				
				var one = ['invite_succ','final_refusal'];
				var two = ['hit_problem_times','affirm_times','reject_times','speak_count','call_duration'];
				
				
				var string = "";
				
				if(one.indexOf(val) != "-1"){
          			
					{volist name="intention" id="vo"}
					
						if('{$vo.key}' == val){
							
							string += '<input type="text" class="form-control itmr secwidth twoval" value="=" readonly="readonly" />';
							string += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';

							string += '<select class="form-control itnuwidth itmr threeval">';
							{volist name="vo.list" id="lvo"}
							  string += '<option value="{$lvo.value}">{$lvo.name}</option>';
							{/volist}
							string += '</select>';

						}
						
					{/volist}
					
				}
				else if(two.indexOf(val) != "-1"){
						{volist name="intention" id="vo"}
						
							if('{$vo.key}' == val){
								
				            	string += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
								string += '<select class="form-control itmr secwidth twoval">';
								{volist name="vo.ops" id="lvo"}
									string += '<option value="{$lvo.value}">{$lvo.name}</option>';
								{/volist}
								string += '</select>';
								
								string += '<input type="number" min="0" class="form-control itnuwidth itmr threeval">';
								string += '<span class="itmr inferior">次</span>';
	
							}
							
						{/volist}
				}
				else if(val == "say_keyword"){
							{volist name="intention" id="vo"}
							
								if('{$vo.key}' == val){
									string += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
									string += '<select class="form-control itmr secwidth twoval"  style="width:100px;" >';
									{volist name="vo.ops" id="lvo"}
										string += '<option value="{$lvo.value}">{$lvo.name}</option>';
									{/volist}
									string += '</select>';
									string += '<input type="text" class="form-control itnuwidth itmr threeval" placeholder="请填写关键词,关键词之间用中文逗号隔开" aria-hidden="true"' 
									+'data-toggle="tooltip" data-placement="top" title="关键词之间用中文逗号隔开。" style="width:170px;" />';
						
								}
								
							{/volist}
				}
				else if(val == "call_status"){
						{volist name="intention" id="vo"}
						
							if('{$vo.key}' == val){
								string += '<input type="hidden" class="form-control itmr secwidth fourval" value="{$vo.type}" />';
								string += '<input type="text" class="form-control itmr secwidth twoval" value="=" readonly="readonly" />';

                                string += '<span id="disabled2select" class="itmr"></span>';
					
							}
							
						{/volist}
				}


				$(obj).parent().find(".secwidth").remove();
				$(obj).parent().find(".itnuwidth").remove();
				$(obj).parent().find(".inferior").remove();
				
				$(obj).parent().find(".glyphicon").attr('alt',val);

	
				$(obj).after(string);
				
				if(val == "call_status"){
				
				   	 createEl();
				

				}
				
				// console.log(val);
				// console.log(already);
			}
		 
		 //检查表单的必填项
			function creatNewRule(){
				
				 $('#newRule').modal('hide');

					var itemList = $("#conditionlist").find(".rule-item");
					
					var ruler = [];
					var name = [];
					$.each(itemList , function(i, n){
						 
						 var one = $(n).find('.oneselect').val();
						 var two = $(n).find('.twoval').val();
						 var three = $(n).find('.threeval').val();
						 var four = $(n).find('.fourval').val();

						 if(one == 'call_status'){
							 
							 three = $("#first-disabled2").selectpicker('val');

						 }
						 var temp = {};
						 temp.one = one; 
						 temp.two = two; 
						 temp.three = three; 
						 temp.four = four; 
						 ruler.push(temp);
						 
						 var onetxt = $(n).find('.oneselect').find("option:selected").text();
						 var twotxt = two;
						 var threetxt = three;
						 
						if(one == 'say_keyword'){
							 
							 twotxt = $(n).find('.twoval').find("option:selected").text();

						 }
						 
						 if(one == 'invite_succ' || one == 'final_refusal' || one == 'call_status'){
							 
							 threetxt = $(n).find('.threeval').find("option:selected").text();
 
						 }
						
						 var tname = {};
						 tname.onetxt = onetxt; 
						 tname.twotxt = twotxt; 
						 tname.threetxt = threetxt; 
						 name.push(tname);
						 
						//console.log(onetxt);
	
				   	//	alert( "Name: " + i + ", Value: " + n );
					});
					
					var classify = $("#classify").val();
					if(!classify){
						alert("意向等级标签不能为空"); 
						return false; 
					}
					
	
					
				 var sceneId = $("#editsSceneId").val();
				 
				var scenariosId = $("#nowsceneID").val();
			
				 var href = "{:url('user/Scenarios/addIntention')}";

				 $.ajax({
						 type: "POST",
						 dataType:'json',
						 url: href,
						 cache: false,
						 data: {
							 "ruler":ruler,
							 "classify":classify,
							 "scenarios_id":scenariosId,
							 "sceneId":sceneId,
							 "name":name
							 },
						 success: function(data) {
							if (data.code == 0) {
								console.log(data);

								 // alert(data.msg);
							   $('#newRule').modal('hide');
								 //location.reload();
								 getLabelList(0);
								
							}else{
								console.log(data.msg);

								// alert(data.msg);

							}
					
						 },
						 error: function(data) {
							 //alert("提交失败");
						 }
				 })  
			}


		
		</script>
		
   
</div>
	