<div class="col-lg-{$addons_config.width}">
	<div class="main-box clearfix">
		<header class="main-box-header clearfix">
			<h2>{$addons_config.title}</h2>
		</header>
		<div class="main-box-body clearfix">
			<table class="table">
				<tr>
					<th>总策划</th>
					<td>郭平平</td>
				</tr>
				<tr>
					<th>产品设计及研发团队</th>
					<td>郭平平</td>
				</tr>
				<tr>
					<th>界面及用户体验团队</th>
					<td>BootStrap 团队</td>
				</tr>
				<tr>
					<th>官方网址</th>
					<td><a href="http://www.ruikesoft.com" target="_blank">www.tensent.cn</a></td>
				</tr>
				<tr>
					<th>官方QQ群</th>
					<td><a target="_blank" href=""><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="RuiKeCMS技术交流" title="RuiKeCMS技术交流"></a></td>
				</tr>
				<tr>
					<th>BUG反馈</th>
					<td><a href="http://bbs.RuiKeCMS.com/" target="_blank">RuiKeCMS讨论区</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>