{extend name="public/base"/}
{block name="body"}
<h1 class="text-center">完成</h1>
<div class="row">
	<div class="col-sm">
		<ul class="list-group">
			<li class="list-group-item text-center"><a href="http://www.ruikesoft.com" target="_blank">深圳瑞科软件有限公司</a></li>
			<li class="list-group-item text-center"><a href="http://bbs.ruikesoft.com" target="_blank">瑞科综合管理系统1.0讨论社区</a></li>
			<li class="list-group-item text-center"><a href="http://wpa.qq.com/msgrd?v=3&uin=2114311598&site=qq&menu=yes" target="_blank">系统定制</a></li>
		</ul>
	</div>
	
{/block}
{block name="footer"}
<div class="text-center">
    <a class="btn btn-primary" target="_blank" href="/index.php/user">登录后台</a>
   <!-- <a class="btn btn-success" target="_blank" href="/index.php/user">访问首页</a>-->
</div>
{/block}