{extend name="public/base"/}
{block name="body"}

<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<style type="text/css">
  .table tbody>tr>td {
    padding: 12px 8px;
  }
  .table-responsive {
  	min-height: .01%;
  	overflow-x: hidden;
  }
	
	.messageinfo{
	 text-align:right;
	 
	}
	.infotable tr td{
	 padding:5px;
	}
	.statusSelect {
	    line-height: 35px;
	    float: left;
	}
	.pull-left{
		float: left;
	}
	.textleft{
		text-align: left;
	}
	
	.classifyBox>span {
	    display: inline-block;
	    padding: 6px 12px;
	    border-radius: 4px;
	    background: #fff;
	    font-size: 14px;
	    margin-right: 10px;
	    border: 1px solid rgb(0, 166, 90);
	    color: rgb(0, 166, 90);
	    margin-bottom: 10px;
	    cursor: pointer;
	    transition: all 1s cubic-bezier(.215,.61,.355,1);
	}
	
	.formgroup{
    float: left;
    margin-left:16px;
		margin-bottom: 5px;
  }
	.formgroup > .numwidth{
		width: 98px;
	}
	.textwidth{
		width:250px;
	}
	.formgroup > .textwidth{
		width:250px;
	}
	.checkbox-wrapper {
    margin-right: 20px;
	  margin-bottom: 0px;
	}	
	.word {
   /* line-height: 40px; */
    font-size: 14px;
	}
	.levelSelect {
			line-height:20px;
			float: left;
	}
	.bottomfour{
		    margin-bottom: 4px;
	}
	.formgroup > .checkbox-wrapper > .cqwidth{
		width:60px;
	}
	.formgroup > .checkbox-wrapper > .word{
		font-size:12px;
	}
	.cqlabel{
		  margin-right:5px;
	}
	.main-box .main-box-header {
    min-height: 50px;
    padding: 20px;
}
.input-group-addon {
    background-color: #ffffff;
       border: 1px solid #ccc;
}
</style>


<div class="row">
	
<div class="col-lg-12">

	<div class="main-box clearfix">
				<header class="main-box-header n_head_box n_head_box_b clearfix">
					<div class="pull-left">
						<span class="n_panel_title"><i class="icon iconfont icon-kehuguanli"></i>客户管理</span>
					</div>
				</header>			
	      
							<div class="main-box-body clearfix">
							<div class="form-inline" style="padding-bottom:25px;">
										 <div class="input-group">
										 
										 <span class="input-group-addon" id="basic-addon1">联系电话</span>
										  <input type="text" class="form-control" name="contactNumber" id="contactNumber" placeholder="请输入联系电话" style="height:34px;">
										  <span class="input-group-btn">
											<button class="btn btn-primary" type="button" onclick="searchdata(1,1);">搜索</button>
										  </span>
										</div>
										<div class="form-inline pull-right">
												 
											 <a class="btn btn-primary" href="javascript:void(0);" onclick="addNew(0);">  
													<i class="fa fa-plus-circle fa-lg"></i> 新 增
											 </a> 
											 <button type="button" class="btn btn-primary" onclick="joinSelect('join');">
												 加入拨打任务
											 </button>
											<span class="btn btn-primary" onclick="loadexcel();">导入</span>
											<span class="btn btn-primary" onclick="outexcel();">导出</span>
											
										</div>	
									</div>
								<section class="navbar navbar-default main-box-header clearfix">
									
	
										<div class="pull-left">
												
											 <form method="get" role="form">
												 
												 <div class="form-inline bottomfour">
													  <div class="form-group">
													  		<label class="levelSelect">意向等级:</label>
													  		<div class="formgroup">
																	
													  			<label class="checkbox-wrapper">
													  					<input class="check-all-level levelcheck" onclick="alllevel();" type="checkbox" />
													  				  <span class="word">全选</span>
													  			</label>
													  			
																<label class="checkbox-wrapper">
																	 <input type="checkbox" name="levelcheck" class="levelcheck" value="6" />
																	 <span class="word">A级(有明确意向)</span>
																</label>
															
																<label class="checkbox-wrapper">
																	<input type="checkbox" name="levelcheck" class="levelcheck" value="5" />	
																	<span class="word">B级(可能有意向)</span>
																</label>
															
																<label class="checkbox-wrapper">
																	<input type="checkbox" name="levelcheck" class="levelcheck" value="4" />
																	<span class="word">C级(明确拒绝)</span>
																</label>
																
																<label class="checkbox-wrapper">
																	<input type="checkbox" name="levelcheck" class="levelcheck" value="3" />
																	<span class="word">D级(用户忙)</span>
																</label>
																
																<label class="checkbox-wrapper">
																	<input type="checkbox" name="levelcheck" class="levelcheck" value="2" />
																	<span class="word">E级(拨打失败)</span>
																</label>
																<label class="checkbox-wrapper">
																	<input type="checkbox" name="levelcheck" class="levelcheck" value="1" />
																	<span class="word">F级(无效客户)</span>
																</label>
																	
		
													  		</div>
													  </div>
											   </div>
			 
												 <div class="form-inline bottomfour">
														<div class="form-group">
																<label class="levelSelect">通话状态:</label>
																<div class="formgroup">
																	
																	<label class="checkbox-wrapper">
																			<input type="checkbox" class="check-all-status statuscheck" onclick="allstatus();" type="checkbox" />
																			<span class="word">全选</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="2" />
																		<span class="word">已接通</span>
																	</label>
																
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="3" />	
																		<span class="word">无人接听</span>
																	</label>
																
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="4" />
																		<span class="word">停机</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="5" />
																		<span class="word">空号</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="6" />
																		<span class="word">正在通话中</span>
																	</label>
																
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="7" />	
																		<span class="word">关机</span>
																	</label>
																
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="8" />
																		<span class="word">用户拒接</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="9" />
																		<span class="word">网络忙</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="10" />
																		<span class="word">来电提醒</span>
																	</label>
																	
																	<label class="checkbox-wrapper">
																		<input type="checkbox" name="statuscheck" class="statuscheck" value="11" />
																		<span class="word">呼叫转移失败</span>
																	</label>
																	
																	
																	
																
															
																	
																	
		 
																</div>
														</div>
												 </div>
												 
												 <div class="form-inline">
													 
													<div class="form-group" style="margin-right: 16px;">
															<label class="statusSelect">通话时长:</label>
															<div class="formgroup">
																	<input type="number" name="startNum" id="startNum" onchange="searchdata(1,1);" min="0" placeholder="通话时长" class="form-control numwidth" />
																<!-- 	<span class="suffix">秒</span> -->
															</div>
													</div>
														至
													<div class="form-group">
														<div class="formgroup">
																<input type="number" name="endNum" id="endNum" onchange="searchdata(1,1);" min="0" placeholder="通话时长" class="form-control numwidth" />
																<span class="suffix">秒</span>
														</div>
									
													</div>
							 
												 </div>

												<div class="form-inline bottomfour">
														<div class="form-group">
																<label class="statusSelect">呼叫任务:</label>
																<div class="formgroup">
																	<select name="calltask" id="calltask" onchange="searchdata(1,1);" class="form-control textwidth">
																		<option value="">请选择外呼任务</option>
																		{volist name="tasklist" id="item"}
																			<option value="{$item['task_id']}">
																				{$item['task_name']}
																			</option>
																		{/volist}
																	</select>
																</div>
														</div>
													
												</div>
												
												<div class="form-inline bottomfour">
													
													<div class="form-group">
															<label class="statusSelect">场景话术:</label>
															<div class="formgroup">
																<select name="scenarios" id="scenarios" onchange="searchdata(1,1);" class="form-control textwidth">
																	<option value="">请选择场景话术</option>
																	{volist name="scenarioslist" id="item"}
																		<option value="{$item['id']}">
																			{$item['name']}
																		</option>
																	{/volist}
																</select>
															
															</div>
													</div>
													
												</div>	

												 <div class="form-inline">

														<div class="form-group">
																<label class="statusSelect">拨打时间:</label>
																<div class="formgroup">
																	
																		<input type="text" style="width:167px;" class="form-control" onchange="searchdata(1,1);" id="startDate" name="startDate" value="" readonly="" />
																		
																	<script>
																			$('#startDate').fdatepicker({
																				format: 'yyyy-mm-dd',
																				pickTime: false
																			});
																	</script>	
																				
																</div>
														</div>
														 <span style="margin-left: 16px;">至</span>
														<div class="form-group">
													
															<div class="formgroup">
															
																	<input type="text" class="form-control" onchange="searchdata(1,1);" id="endTime" name="endTime" value="" readonly="" />
															
																<script>
																	$('#endTime').fdatepicker({
																		format: 'yyyy-mm-dd',
																		pickTime: false
																	});
																</script>	
																				
														</div>
										
													  </div>
												 </div>
                    
												<div class="form-inline">
														<div class="form-group">
																<label class="statusSelect" style="line-height: 30px;">客户语气:</label>
																<div class="formgroup">
																	
																	<label class="checkbox-wrapper cqlabel">
																		 <span class="word">客户说话次数</span>
																		 <input type="number" min="0" id="call_times" class="form-control cqwidth" />
																	</label>
																	
																	<label class="checkbox-wrapper cqlabel">
																		<span class="word">肯定次数</span>
																		<input type="number" min="0" id="affirm_times" class="form-control cqwidth" />
																	</label>
																
																	<label class="checkbox-wrapper cqlabel">
																		<span class="word">否定次数</span>
																		<input type="number" min="0" id="negative_times" class="form-control cqwidth" />
																	</label>
																
																	<label class="checkbox-wrapper cqlabel">
																		<span class="word">中性次数</span>
																		<input type="number" min="0" id="neutral_times" class="form-control cqwidth" />
																	</label>
																	
																	<label class="checkbox-wrapper cqlabel">
																		<span class="word">有效对话次数</span>
																		<input type="number" min="0" id="effective_times" class="form-control cqwidth" />
																	</label>
																	
																	<label class="checkbox-wrapper cqlabel">
																		<span class="word">触发问题次数</span>
																		<input type="number" min="0" id="hit_times" class="form-control cqwidth" />
																	</label>
																	
		
																</div>
														</div>
												 </div>
													 
												<div class="form-inline bottomfour">
													<div class="form-group">
															<label class="levelSelect">语义标签:</label>
															<div class="formgroup">
																
															 {volist name="semanticLabels" id="vo" key="k"}

																<label class="checkbox-wrapper">
																	<input type="checkbox" name="semantic-label" class="semantic-label" value="{$vo.label}" />
																	<span class="word">{$vo.label}</span>
																</label>
														 	 {/volist}
															</div>
													</div>
												</div>
												
												<div class="form-inline bottomfour">
													<div class="form-group">
															<label class="levelSelect">流程标签:</label>
															<div style="display: block;margin-left: 68px;">
																{volist name="flowLabels" id="vo" key="k"}

																<label class="checkbox-wrapper" style="margin-right: 10px;">
																	<input type="checkbox" name="flow-label" class="flow-label" value="{$vo.label}" />
																	<span class="word">{$vo.label}</span>
																</label>
														 	 {/volist}
															</div>
													</div>
												</div>
																							 
												</form>
											 
													 
										</div>
										
									
								</section>
								
								<div style="height:10px;line-height:30px;background-color:#FBFBFB;"></div>
									 
								<div class="table-responsive">			  
										<table class="table table-bordered table-hover">
										 <thead>
												<tr>
														<th></th> 
							 
														<th class="text-center">姓名</th>
														<th class="text-center">手机号</th>
														<th class="text-center" style="width: 139px;">创建时间</th>
														<th class="text-center">通话时长</th>
														<th class="text-center">分组</th>
														
														<th class="text-center">呼叫任务</th>
														<th class="text-center">场景话术</th>
														<th class="text-center">拨打时间</th>
														
														<th class="text-center">意向等级</th>
														<th class="text-center">通话状态</th>
														<th class="text-center">语义标签</th>
														<th class="text-center">流程标签</th>
														<th class="text-center">操作</th> 
												</tr>
											</thead>
										 <tbody id="datalist">
												
											</tbody>
										</table> 
										
										<div class="row">
											<div class="col-sm-4 text-left">
													<div class="pull-left">
														<input class="check-all icheckbox_square-blue" onclick="allcheck();" type="checkbox"/>全选
														<button class="btn btn-primary" onclick="del(0);" target-form="ids">删 除</button>
													</div>	
											</div>
												<div class="col-sm-8 text-right"></div>
										</div>
										<br/>
										<div id="modalpagybody"></div>
										 
									</div>
								
							</div>
						 
	        </div>
	

</div>

<script type="text/javascript">	


	window.onpageshow = function(event) {
		 var a=event||window.event;
	};
	
	var despage = 1;
	$(function(){
		searchdata(despage,0);
		$(".levelcheck").on("click",function(){
			searchdata(1,1);
		});
		$(".statuscheck").on("click",function(){
			searchdata(1,1);
		});
		
		$(".semantic-label").on("click",function(){
			searchdata(1,1);
		});
		
		$(".flow-label").on("click",function(){
			searchdata(1,1);
		});
		
		$(".cqwidth").change(function(){
			searchdata(1,1);
		});
		
				 
     // 1.基本参数设置 
     var options = { 
         type: 'POST',     // 设置表单提交方式
         url: "{:url('user/member/importExcel')}",    // 设置表单提交URL,默认为表单Form上action的路径
         dataType: 'json',    // 返回数据类型
         beforeSubmit: function(formData, jqForm, option){    // 表单提交之前的回调函数，一般用户表单验证
             // formData: 数组对象,提交表单时,Form插件会以Ajax方式自动提交这些数据,格式Json数组,形如[{name:userName, value:admin},{name:passWord, value:123}]
             // jqForm: jQuery对象,，封装了表单的元素   
             // options: options对象
          //   var str = $.param(formData);    // name=admin&passWord=123
           //  var dom = jqForm[0];    // 将jqForm转换为DOM对象
            // var name = dom.name.value;    // 访问jqForm的DOM元素
             /* 表单提交前的操作 */
             return true;  // 只要不返回false,表单都会提交  
         },
         success: function(responseText, statusText, xhr, $form){    // 成功后的回调函数(返回数据由responseText获得),
					 if (responseText.code == 0) {
						 window.location.href=window.location.href;
					 }else{
						alert(responseText.msg);
						//$('#exampleModal').modal('show');
					 }

         },  
         error: function(xhr, status, err) {            
             alert("操作失败!");    // 访问地址失败，或发生异常没有正常返回
         },
         clearForm: true,    // 成功提交后，清除表单填写内容
         resetForm: true    // 成功提交后，重置表单填写内容
     }; 
     
     // 2.绑定ajaxSubmit()
     $("#fileform").submit(function(){     // 提交表单的id
         $(this).ajaxSubmit(options); 
         return false;   //防止表单自动提交
     });
 
		
	}) 
  
	
	
	
	  //导出记录
	function outexcel(){
		$.post("{:url('exportmemberExcel')}",
		{
			'mobile':mobile,
			'startNum':startNum,
			'endNum':endNum,
			'startDate':startDate,
			'endTime':endTime,
			'calltask':calltask,
			'levelids':levelids,
			'statusids':statusids
		},
		function(data){
				 
					window.location.href = data;
	 
		});
	}
		
    
  //全选用户
   function allcheck(){			
   	if ($('.check-all').is(":checked")) {	
   		$('.usercheck').prop("checked","checked");
   	}else{
   		$('.usercheck').prop("checked",false);
   	}
   }
   
 //全选等级
   function alllevel(){			
   	if ($('.check-all-level').is(":checked")) {	
   		$('.levelcheck').prop("checked","checked");
   	}else{
   		$('.levelcheck').prop("checked",false);
   	}
   }
	 
	 //全选状态
	 function allstatus(){			
	 	if ($('.check-all-status').is(":checked")) {	
	 		$('.statuscheck').prop("checked","checked");
	 	}else{
	 		$('.statuscheck').prop("checked",false);
	 	}
	 }
   
   //删除
   function del(id){
   	 var r=confirm('确认删除?');
       	if (!r) 
             return; 
  
       	 var ids=[];
      	if(id){
      		ids.push(id);
      	}
      	else{
      		
          	 var roleids = document.getElementsByName("userids");
      		 for ( var j = 0; j < roleids.length; j++) {
      		    if (roleids.item(j).checked == true) {
      		    	ids.push(roleids.item(j).value);
      		    }
      		 }
      	}
  		
      	if(!ids.length){
      		alert("至少选择一条。");
      		 return false; 
      	}
    		 $.post("{:url('delMember')}",{'id':ids},function(data){
	  				if(data){
	  					alert(data);
	  				}else{
	  					window.location.href=window.location.href;
	  				}
	  		}); 
   }
    
  function getzf(num){
      if(parseInt(num) < 10){  
          num = '0'+num;  
      }  
      return num;  
  }
	
	function getMyDate(str){
	
	    var oDate = new Date(str),  
	    oYear = oDate.getFullYear(),  
	    oMonth = oDate.getMonth()+1,  
	    oDay = oDate.getDate(),  
	    oHour = oDate.getHours(),  
	    oMin = oDate.getMinutes(),  
	    oSen = oDate.getSeconds(),  
	    oTime = oYear +'-'+ getzf(oMonth) +'-'+ getzf(oDay) +' '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//最后拼接时间  
	            return oTime;  
	        }
	  
  
</script>

 
 <script type="text/javascript">
	

	var mobile,startNum,endNum,startDate,endTime,calltask,scenarios,call_times,affirm_times,negative_times,neutral_times,effective_times,hit_times;
	var levelids=[],statusids=[],semanticLabels=[],flowLabels=[];
	
  function memberlist(page){
		
		 	var url = "{:url('memberListAjax')}";	
		 	$.ajax({
		 					url : url,
		 					dataType : "json", 
		 					type : "post",
		 					data : {
								'page':page,
								'mobile':mobile,
 								'startNum':startNum,
								'endNum':endNum,
								'startDate':startDate,
 								'endTime':endTime,
 								'calltask':calltask,
								'levelids':levelids,
								'statusids':statusids,
								'scenarios':scenarios,
								'call_times':call_times,
								'affirm_times':affirm_times,
								'negative_times':negative_times,
								'neutral_times':neutral_times,
								'effective_times':effective_times,
								'hit_times':hit_times,
								'semanticLabels':semanticLabels,
								'flowLabels':flowLabels
							},
		 					success: function(data){
		 						var total = data.data.total;
		 						var Nowpage = data.data.Nowpage;
		 						var page = data.data.page;
		 						var Nowpage = parseInt(Nowpage);
		 						var data = data.data.list;
		 							if(data.length > 0){
		 									$("#datalist").find("tr").remove();
		 									for(var i=0;i<data.length;i++){
		 										var uid = data[i].uid;
		 										var nickname = data[i].nickname;
		 										var mobile = data[i].mobile;
		 										var duration = data[i].duration;
		 										var groupname = data[i].name;
		 										var reg_time = data[i].reg_time;
		 										var status = data[i].status;
		 										var level = data[i].level;
		 										var task_name = data[i].task_name;
												var scenarios_name = data[i].scenarios_name;
												var last_dial_time = data[i].last_dial_time;
												
												var semantic_label = data[i].semantic_label;
												var flow_label = data[i].flow_label;
												
												var review = data[i].review;
												
		 										if(name == '' || name == null){
		 											groupname = "未分组";
		 										}
 
												var strlevel = "";
												switch (level) {
													case 6:
														strlevel = "A级(有明确意向)";
														break;
													case 5:
														strlevel = "B级(可能有意向)";
														break;
													case 4:
														strlevel = "C级(明确拒绝)";
														break;
													case 3:
														strlevel = "D级(用户忙)";
														break;
													case 2:
														strlevel = "E级(拨打失败)";
														break;
													case 1:
														strlevel = "F级(无效客户)";
														break;
													default:
														strlevel = "--";
												}
												
												var strstatus = "未拨打";

												switch (status) {
													case 2:
														strstatus = "已接通";
														break;
													case 3:
														strstatus = "无人接听";
														break;
													case 4:
														strstatus = "停机";
														break;
													case 5:
														strstatus = "空号";
														break;
													case 6:
														strstatus = "正在通话中";
														break;
													case 7:
														strstatus = "关机";
														break;
													case 8:
														strstatus = "用户拒接";
														break;
													case 9:
														strstatus = "网络忙";
														break;
													case 10:
														strstatus = "来电提醒";
														break;
													case 11:
														strstatus = "呼叫转移失败";
														break;
													default:
														strstatus = "--";
												}
				 
												var string = '<tr class="imgclass">'
												+'<td class="text-center">'
													+'<input type="checkbox" name="userids" class="usercheck" value="'+uid+'"/>'
												+'</td>'
												+'<td class="text-center">'+nickname+'</td>'
												+'<td class="text-center">'+mobile+'</td>'
												+'<td class="text-center">'+reg_time+'</td>'
												+'<td class="text-center">'+duration+'</td>'
												+'<td class="text-center">'+groupname+'</td>'
												
												+'<td class="text-center">'+task_name+'</td>'
												+'<td class="text-center">'+scenarios_name+'</td>'
												+'<td class="text-center">'+last_dial_time+'</td>'
												
												+'<td class="text-center">'+strlevel+'</td>'
												+'<td class="text-center">'+strstatus+'</td>'
												+'<td class="text-center">'+semantic_label+'</td>'
												+'<td class="text-center">'+flow_label+'</td>'
												+'<td class="text-center">'
												+'<a href="javascript:void(0);" onclick="addNew('+uid+');">编辑</a>'
												+'&nbsp;<a href="javascript:void(0);" onclick="del('+uid+');">删除</a>'
												if (review){
													string += '&nbsp;<a href="javascript:void(0);" onclick="gotoDetail('+uid+');">已看</a>';
												}
												else{
													string += '&nbsp;<a href="javascript:void(0);" style="color:red;" onclick="gotoDetail('+uid+');">未看</a>';
												}
												+'</td>'
												string += '</tr>';
												$("#datalist").append(string); 

											}
		 									
		 									var prepage = Nowpage-1;
		 									var nextpage = Nowpage+1;
		 									
		 									var str = '<div class="row">'
		 									+'<div class="col-sm-3 text-left">'
		 												
		 									+'<table class="table table-bordered table-hover" style="margin-bottom: 0px; ">'
		 									+'<tbody><tr>'
		 									+'<td class="text-center">总数：'
		 									+'</td>'
		 									+'<td class="text-center" id="total_num">'+total+'&nbsp;'
		 									+'</td>'
		 																
		 									+'</tr> '
		 									+'</tbody></table>'                                     
		 		
		 									+'</div>'
		 									+'<div class="col-sm-9 text-right">'
		 									+'<ul class="pagination">';
		 									
		 									if(Nowpage == 1){
		 										str += '<li id="prevbtn" class="disabled"><span>«</span></li> ';
		 									}else{
		 										str += '<li><a href="javascript:void(0);" onclick="searchdata('+prepage+',0);"><span>«</span></a></li> ';
		 									}
		 									
		 									if(page > 10){
		 									
		 										if(Nowpage < 7){
		 											for(var i=0;i<page;i++){
		 												var nownum = i+1;
		 												if(nownum < 9){
		 														if(nownum == Nowpage){
		 															str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 														}else{
		 															str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 														}
		 												}
		 												
		 												if(nownum == 9 && nownum != Nowpage){
		 														str += '<li class="disabled"><span>...</span></li>';  
		 												}else if(nownum == 9){
		 													str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';  
		 												}
		 											
		 													if(nownum > (page-2)){
		 															if(nownum == Nowpage){
		 																str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 															}else{
		 																str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 															}
		 													}
		 
		 												}
		 										}else if(Nowpage > 6 && Nowpage < (page-6)){
		 											for(var i=0;i<page;i++){
		 												var nownum = i+1;
		 												var Nowpage = parseInt(Nowpage);
		 												if(nownum < 3){
		 													str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> '; 
		 												}
		 												
		 												if((nownum > Nowpage-5) && (nownum < Nowpage+5)){
		 											
		 																	if(nownum == (Nowpage-4)){
		 																		str += '<li class="disabled"><span>...</span></li>';
		 																	}   
		 																
		 																		if(nownum > (Nowpage-4) && nownum < Nowpage){
		 																			str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>'; 
		 																		}  
		 																	
		 																		if(nownum == Nowpage){
		 																		str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';  
		 																		} 
		 																	
		 																		if(nownum < (Nowpage + 4) && nownum > Nowpage){
		 																		str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>'; 
		 																		}  
		 															
		 																		if(nownum == (Nowpage + 4)){
		 																	
		 																		str += '<li class="disabled"><span>...</span></li>';
		 																		}   
		 													}
		 													
		 												if(nownum > (page-2)){
		 													var Nowpage = parseInt(Nowpage);
		 													if(nownum == Nowpage){
		 																str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';
		 														}else{
		 															str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';
		 														}   
		 												
		 													}     
		 
		 												}
		 										}else{
		 											
		 											for(var i=0;i<page;i++){
		 												var nownum = i+1;
		 												if(nownum<3){
		 													str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li>';  
		 												}
		 											
		 												if(nownum == (page-10) && nownum != Nowpage){
		 													str += '<li class="disabled"><span>...</span></li>';   
		 												}else if(nownum == (page-10) && nownum == Nowpage){
		 													str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';   
		 												}
		 												
		 												if(nownum > (page-10)){
		 													if(nownum == Nowpage){
		 														str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li> ';   
		 													}else{
		 														str += '<li ><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+'</a></li>';   
		 													}
		 												}
		 												
		 												
		 											}
		 									
		 												
		 										}
		 									}else{
		 											for(var i=0;i<page;i++){
		 												var nownum = i+1;
		 												if(nownum == Nowpage){
		 													str += '<li class="active"><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 												}else{
		 													str += '<li><a href="javascript:void(0);" onclick="searchdata('+nownum+',0);">'+nownum+' </a></li> ';  
		 												}
		 											}
		 									}
		 									
		 				
		 								
		 									if(Nowpage == page){
		 										str += '<li id="prevbtn" class="disabled"><span>»</span></li> ';
		 									}else{
		 										str += '<li><a href="javascript:void(0);" onclick="searchdata('+nextpage+',0);"><span>»</span></a></li>';
		 									}
		 								
		 									str += '</ul>'
		 									+'</div>'
		 									+'</div>'
		 									
		 									$("#modalpagybody").find("div").remove();
		 									$("#modalpagybody").append(str); 
		 									
										}
										else{
												$("#total_num").html(0);
												$("#datalist").find("tr").remove();
												$("#modalpagybody").find("div").remove();
										}
		 							
		 					},
		 					error : function() {
		 						alert('获取列表失败。');
		 					}
		 		});
		 	
	
  }	 
  	 
 function searchdata(page,type){	

  		if(type == 1){
				
			mobile = $("#contactNumber").val();
			startNum = $("#startNum").val();
			endNum = $("#endNum").val();

  			startDate = $("#startDate").val();
  			endTime = $("#endTime").val();
  			calltask = $("#calltask").val();
  			scenarios = $("#scenarios").val();
			
			call_times = $("#call_times").val();
			affirm_times = $("#affirm_times").val();
  			negative_times = $("#negative_times").val();
  			neutral_times = $("#neutral_times").val();
  			effective_times = $("#effective_times").val();
			hit_times = $("#hit_times").val();
			
			levelids.splice(0,levelids.length);//清空数组 
			var levelcheckids = document.getElementsByName("levelcheck");
			for ( var j = 0; j < levelcheckids.length; j++) {
				if (levelcheckids.item(j).checked == true) {
					levelids.push(levelcheckids.item(j).value);
				}
			}
			
			statusids.splice(0,statusids.length);//清空数组 
			var statuscheckids = document.getElementsByName("statuscheck");
			for ( var j = 0; j < statuscheckids.length; j++) {
				if (statuscheckids.item(j).checked == true) {
					statusids.push(statuscheckids.item(j).value);
				}
			}
			
			semanticLabels.splice(0,semanticLabels.length);//清空数组 
			var semanticLabelObj = document.getElementsByName("semantic-label");
			for ( var j = 0; j < semanticLabelObj.length; j++) {
				if (semanticLabelObj.item(j).checked == true) {
					semanticLabels.push(semanticLabelObj.item(j).value);
				}
			}
			console.log(semanticLabels);
			flowLabels.splice(0,flowLabels.length);//清空数组 
			var flowLabelObj = document.getElementsByName("flow-label");
			for ( var j = 0; j < flowLabelObj.length; j++) {
				if (flowLabelObj.item(j).checked == true) {
					flowLabels.push(flowLabelObj.item(j).value);
				}
			}
			console.log(flowLabels);
  		}
  
	    memberlist(page);
 }	
 
 </script>
 
 
</div>

<!-- 将选中号码加入拨打计划 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	
  <div class="modal-dialog" role="document"   style="width: 380px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">呼叫任务</h4>
      </div>
      <div class="modal-body">
		 <p> 您确定将搜索结果重新加入呼叫任务吗?</p>
      	  <div id="taskcontent">

							<div class="form-group">
								<label class="col-lg-3 control-label" style="text-align: left; margin-top: 8px;">选择任务:</label>
								<div class="col-lg-9 col-sm-10">
									
									<select name="myModaltask" id="myModaltask" class="form-control textwidth">
										<option value="">请选择任务</option>
										{volist name="tasklist" id="item"}
											<option value="{$item['task_id']}">
												{$item['task_name']}
											</option>
										{/volist}
									</select>
							
								</div>
							</div>
	
      	  </div>
      
      	  
      	  <div style="clear: both;"></div>
         
      </div>
      <div class="modal-footer">
      	
				<button type="button" class="btn btn-default" id="default-cancel" data-dismiss="modal">取消</button>
       
        <button type="button" class="btn btn-primary" onclick="ensure()">确认</button>
        
      </div>
    </div>
  </div>
	
	<script type="text/javascript">
	   var flag = "join";
	   
	   function joinSelect(cate){
	   
	   	   flag = cate;
	   	
	   	   
	   	   if(flag == "join"){
	   	   	
	   	   		var ids=[];
		        var roleids = document.getElementsByName("userids");
		    		 for ( var j = 0; j < roleids.length; j++) {
		    		    if (roleids.item(j).checked == true) {
		    		    	ids.push(roleids.item(j).value);
		    		    }
		    		 }
       

	   	   	 
	   	   }
	   	  
	   	   
	   	 
	   	   	
	     	$('#myModal').modal('show');
	   }	
	   
	   function ensure(){
	   	 
			var ids=[];
	   	   if(flag == "finish"){
	   	   		var roleids = document.getElementsByName("Alreadycheck");
	   	   }else{
	   	   	  var roleids = document.getElementsByName("userids");
	   	   }
      
	  		for (var j = 0; j < roleids.length; j++) {
	  		   if (roleids.item(j).checked == true) {
	  		    ids.push(roleids.item(j).value);
	  		   }
	  		} 
	  	   
	  	   var taskId = $("#myModaltask").val(); 
		   if (!taskId){
				alert("请选择任务");
				return false; 
		   }
	  	  
    		 $.post("{:url('copyData')}",{
					 
					 'id':ids,
					 'taskId':taskId,
					 "flag":flag,
					 
					 'mobile':mobile,
					 'startNum':startNum,
					 'endNum':endNum,
					 'startDate':startDate,
					 'endTime':endTime,
					 'calltask':calltask,
					 'levelids':levelids,
					 'statusids':statusids
					 
					 },function(data){
	  				if(data){
							
							// console.log(data);

	  					if(data.code == 0){
	  					
	  						window.location.href=window.location.href;
	  					}else{
	  							console.log(data);
	  					}

	  				}else{
	  					window.location.href=window.location.href;
	  				}
	  		 }); 

	   	   $('#myModal').modal('hide');
	   	  
	   }
	   
	</script>

</div>



<script type="text/javascript" src="__PUBLIC__/plugs/jquery/jquery.form.min.js"></script>


<!-- 导入用户Large modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" style="width:380px;">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								 <span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">选择excel文件</h4>
				 </div>
				 <div class="modal-body">
						 <form id="fileform" action="{:url('user/Member/importExcel')}" method="post" class="form-horizontal margintop" enctype="multipart/form-data" >	
							 <input type="file" class="" id="excelId" name="excel" />
					 </form>
				 <br/>
				 <a href="__STATIC__/template.xlsx" >模板下载</a>
				 </div>
				 <div style="clear:both;"></div>
				<div class="modal-footer">
				
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" onclick="Savechange();" class="btn btn-primary">保存</button>
				</div>
			</div>
						 
			</div>
		 
    <script type="text/javascript">

	     //保存页面
		 function loadexcel(){	
			 $('#exampleModal').modal('show');
		 }	

	       //保存页面
		  function Savechange(){	
					var excel = document.getElementById('excelId');
					if(excel.files[0] == undefined){
						alert('未上传文件！');
						return false;
					}
					var filevalue = excel.value;
					var index = filevalue.lastIndexOf('.');
					var ename = filevalue.substring(index);
					if(ename != ".xlsx"){
						if(ename != ".xls"){
							alert('文件格式错误。"xlsx"或者"xls"，请用下载的模板改。');
							return false;
						}
					}
								
	    	   $("#fileform").submit();
	         $('#exampleModal').modal('hide');
		  }	
  
    </script>
      
</div>


<!-- 新建人员 -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog"  style="width: 300px;">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								 <span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">新建用户</h4>
				 </div>
				 <div class="modal-body">
						  <form id="addNewform" method="post" class="form-horizontal" enctype="multipart/form-data" method="post">
						         
									<div class="form-group">
										<label class="col-lg-4 control-label">姓名：</label>
										<div class="col-lg-7 col-sm-10">
												 <input type="text" name="nickname" class="form-control" id="nickname" value="" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-lg-4 control-label">性别：</label>
										<div class="col-lg-7 col-sm-6">
												 &nbsp;<input type="radio" name="sex" value="0" id="sexman" checked /> 男
											   &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="sexwoman" name="sex" value="1" /> 女
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-lg-4 control-label">手机号：</label>
										<div class="col-lg-7 col-sm-10">
												<input type="text" class="form-control" placeholder="请输入手机号" name="phonenumber" id="phonenumber" value="" />
										</div>
									</div>
									
								<div class="form-group" style="margin-top:10px;">
									<label class="col-lg-4 control-label">客户分组：</label>
									<div class="col-lg-7 col-sm-10">
												 <select id="groupId" name="groupId" class="form-control" >
																<option value="">请选择角色</option>
												 {notempty name="groupList"}
													 {volist name="groupList" id="vo"}
														 <option 
															 {eq name="$dvlist.group_id|default='0'" value="$vo.id" }
																			selected 
																	 {/eq}
															value="{$vo.id}">{$vo.name}</option>
													 {/volist}
												 {/notempty}
										</select>
				
									</div>
									</div>
									
									
									<input type="hidden" name="mumid" id="mumid" value="" />
									<!-- 当前任务的ID -->
									<input type="hidden" name="taskID" id="taskID" value="" />
							</form>
				 
				 </div>
				 <div style="clear:both;"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" onclick="saveMember();" class="btn btn-primary">保存</button>
				</div>
			</div>
						 
			</div>
		 
    <script type="text/javascript">

	     //保存页面
		 function addNew(uid){	
			 $("#mumid").val(uid);
			 if(uid > 0){
				$.ajax({
					type: "POST",
					dataType:'json',
					url: "{:url('User/member/getwhite')}",
					cache: false,
					data: {id:uid},
					success: function(data) {
						if (data.code == 0) {
							
								var data = data.data;
								$("#nickname").val(data.nickname);
								$("#realname").val(data.real_name);
								
								$("#phonenumber").val(data.mobile);
								
								if(data.sex > 0){
									$("#sexwoman").prop("checked",true)
								}else{
									$("#sexman").prop("checked",true)
								}
								
								$("#groupId").val(data.group_id);
								
								$('#newModal').modal('show');

						}
					},
					error: function(data) {
						alert("提交失败");
					}
				}) 
			 }
			 else{
				 
				 $("#nickname").val("");
				 $("#realname").val("");
				 $("#phonenumber").val("");
				 $("#groupId").val("");
				 $("#sexman").prop("checked",true);
				 
				 $('#newModal').modal('show');
			 }
		 }	
		 
		 
		function saveMember(){
		 	
			var nickname = $("#nickname").val();
			var realname = $("#realname").val();
			var phonenumber = $("#phonenumber").val();
			var taskId = $("#taskID").val();
			 
			if(phonenumber==''){
				alert("号码不可为空"); 
				return false; 
			}
		 	  
			var mobileREa = /^1[3|4|5|6|7|8|9]\d{9}$/;
			var phoneruler = /^0\d{2,3}-?\d{7,8}$/;
		
			if (!mobileREa.test(phonenumber)) { 
				if (!phoneruler.test(phonenumber)) { 
			  
					alert("号码格式不正确"); 
					return false; 
				}
			} 
			
			var href = "{:url('User/member/addMember')}";
			var mumid = $("#mumid").val();
			if(mumid > 0){
				 href = "{:url('User/member/editMember')}";
			}
			
			$.ajax({
				 type: "POST",
				 dataType:'json',
				 url: href,
				 cache: false,
				 data: $("#addNewform").serialize(),
				 success: function(data) {
					if (data.code == 0) {
						searchdata(1,taskId);
						$('#newModal').modal('hide');
					}
					else{
						 alert(data.msg);
					}
				 },
				 error: function(data) {
					// alert("提交失败");
				 }
			})
		 }
		 
    </script>
      
</div>
{include file="member/calldetail" /} 




{/block}


